<div class="widget">

	<div class="league-show-container"></div>
	<div class="team-show-container"></div>
	<label for="resultSeasonAdd">Season:</label>
	<input type="text" name="resultSeasonAdd" id="resultSeasonAdd" />
	<label for="resultMatchesPlayedAdd">P:</label>
	<input type="text" name="resultMatchesPlayedAdd" id="resultMatchesPlayedAdd" />
	<label for="resultWinsAdd">W:</label>
	<input type="text" name="resultWinsAdd" id="resultWinsAdd" />
	<label for="resultDrawsAdd">D:</label>
	<input type="text" name="resultDrawsAdd" id="resultDrawsAdd" />
	<label for="resultLossesAdd">L:</label>
	<input type="text" name="resultLossesAdd" id="resultLossesAdd" />
	<label for="resultGoalsForAdd">GF:</label>
	<input type="text" name="resultGoalsForAdd" id="resultGoalsForAdd" />
	<label for="resultGoalsAgainstAdd">GA:</label>
	<input type="text" name="resultGoalsAgainstAdd" id="resultGoalsAgainstAdd" />
	<button class="post-result">Add Result</button>

</div>