<div class="widget">

	<div class="league-show-container"></div>
	<div class="country-show-container"></div>
	<label for="leagueNameEdit">League Name:</label>
	<input type="text" name="leagueNameEdit" id="leagueNameEdit" />
	<label for="leagueTierEdit">Tier:</label>
	<input type="text" name="leagueTierEdit" id="leagueTierEdit" />
	<label for="leaguePlayableEdit">Playable:</label>
	<select name="leaguePlayableEdit" id="leaguePlayableEdit">
		<option value="1">Yes</option>
		<option value="0">No</option>
	</select>
	<button class="edit-league">Update League</button>

</div>