<div class="widget">

	<div class="country-show-container"></div>
	<label for="leagueNameAdd">League Name:</label>
	<input type="text" name="leagueNameAdd" id="leagueNameAdd" />
	<label for="leagueTierAdd">Tier:</label>
	<input type="text" name="leagueTierAdd" id="leagueTierAdd" />
	<label for="leaguePlayableAdd">Playable:</label>
	<select name="leaguePlayableAdd" id="leaguePlayableAdd">
		<option val="1">Yes</option>
		<option val="0">No</option>
	</select>
	<button class="post-league">Add League</button>

</div>